/* 
Juan Nevares
CIS-211-70 Project 1
style.css
4/9/2025
*/

body, header, nav, main, footer, h1, h2, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #14cce4;
}

img {
    max-width: 100%;
    display: block;
    border: 4px solid #000000;
}

header {
    width: 25%;
    float: left;
}

nav {
    width: 50%;
    float: none;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

footer {
    font-size: 1.5em;
    text-align: center;
    color: #000000;
    padding: 0 1em;
}


